body{
    font-family: sans-serif;
}

header, section, nav, footer, article{
    display: block;
}

section{
    background-color: #EEEEEF;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 75%;
}

section h1{
    color: #666;
    margin: 0;
}

section p{
    margin-top: 0;
}

section textarea{
    width: 100%;
    height: 25px;
}

section h3{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: 16px;
}

section ul, section ol{
    padding-left: 20px;
    padding-top: 0px;
    margin-top: 0;
}

section pre{
    font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    background-color: #F0F7FF;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding: 10px;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.bottomWash{
    height: 300px;
}

#logo{
    cursor: pointer;
}

nav{
    -webkit-box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
    background-color: #9CF;
    border-left: 10px solid #39F;
    position: fixed;
    right: -320px;
    top: 0;
    padding: 10px;
    padding-top: 0px;
    padding-right: 0;
    height: 100%;
    min-width: 500px;
    z-index: 2;
}

nav header{
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}

nav header .meta{
    font-size: 12px;
    padding-left: 3px;
}

nav ul{
    color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a{
    color: #06C;
    text-decoration: none;
    cursor: pointer;
}

#posts header{
    margin: 0;
    padding: 0;
    padding-left: 7px;
    padding-bottom: 4px;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
}

#title input{
    font-family: arial;
    width: 80%;
    border: 0;
    outline: 0;
    background: 0;
    padding: 0;
    margin: 0;
    margin-left: -1px;
    font-weight: bold;
    font-size: 15px;
}

#posts, textarea{
    font-family: arial;
    font-size: 15px;
}

textarea{
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

section.active{
    background-color: white;
    padding: 8px;
    border: 2px solid #39f;
}

#overview header{
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 2px;
}

#overview ul{
    padding: 0;
    margin: 0;
    font-size: 13px;
}

#advanced{
    float: right;
    width: 280px;
    height: 100%;
    margin: 0;
}

#advanced header{
    color: #9CF;
}

#documents{
    background-color: white;
    border: 1px solid #EEEEEF;
    -webkit-box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    padding-left: 10px;
    height: 100%;
    padding-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#document-list {
}

#document-list .active a{
    font-weight: bold;
}

#actions{
    padding-top: 10px;
}

#wash{
    background-color: rgba(255,255,255,0.5);
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
}

#dev{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 1px solid #CCC;
    width: 100%;
    height: 25px;
}

#dev-box{
    border: 0;
    width: 90%;
}

.alert{
    position: fixed;
    bottom: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    border-bottom: 0px !important;
}
.alert.high{
    border: 1px solid #FF9999;
    background-color: #FFCCCC;
}
.alert.medium{
    border: 1px solid #FFFF99;
    background-color: #FFFFCC;
}
.alert.low{
    border: 1px solid #99FF99;
    background-color: #CCFFCC;
}

a.invalid_link{
	color: #E22;
}
