#welcome{
    display: none;
}

.header{
    background-color: #369;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#369), to(#5886B4));
    border-bottom: 4px solid #9CF;
    padding-left: 20px;
    font-size: 23px;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: -10px;
    margin-top: -20px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 98%;
}

.head{
    color: white;
    font-family: georgia;
    font-size: 70px;
    padding-bottom: 10px;
}

.head em{
    font-style: normal;
}

.desc{
    color: white;
    width: 620px;
}

.desc strong{
    font-weight: normal;
}

.started{
    color: #999;
    text-shadow: #EEEEEF 2px 2px 1px;
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding-top: 35px;
    margin-left: -10px;
    margin-top: -20px;
    width: 98%;
}

.started em{
    font-style: normal;
}